.card-featured {
    .card {
        color: white;
        border: 0px;
        background-color: #fff;

    }
    .card:focus, .card:hover {
        border: 1px solid;
    }

    .card-featured__body {
        bottom: 0px;
        position: relative;
        margin-top: 13rem;
        background-position: center top;
    }

    .card-featured__inner-card {
        border: 1px solid;
        background-color: rgb(33, 37, 41, 0.3);
    }
    
}