.navbar {
    z-index: 2;

    .nav-btn {
        color: rgba(255,255,255,.5);
    }
    .nav-btn:hover, .active .nav-btn {
        color: white;
    }
    
    
    .nav-item {
        .nav-link.active {
            border-bottom: .3rem solid rgba(255,255,255,.75);
        }
    }
    
    button:hover,
    button:focus {
        color: white;
        border: 0.25rem solid white;
    }
}
