.card-featured-upper {
    .card {
        color: white;
        border: 0px;
        background-color: #fff;

    }
    .card:focus, .card:hover {
        border: 1px solid;
    }

    .card-featured__body {
        background-position: center top;
    }

    .card-featured__inner-card {
        border: 1px solid;
        background-color: rgb(33, 37, 41, 0.3);

        bottom: 0px;
        margin-top: 200px;
    }

    .card-featured-upper__menu-button + .card-featured-upper__menu {
        display: none;
        
    }
    .card-featured-upper__menu-button:hover + .card-featured-upper__menu,
    .card-featured-upper__menu-button + .card-featured-upper__menu:hover,
    .card-featured-upper__menu-button:hover + .card-featured-upper__menu:hover {
        display: block;
    }
    
}