.card-with-buttons {

    .buttons-list {
        right: 0px;
        bottom: 10px;
        position: absolute;
    }

    .card {
        color: white;
        border: 0px;
    }
    .card:focus {
        border: 1px solid;
    }
    .card:hover {
        border: 1px solid;
    }

    .card-featured-upper__menu-container:hover,
    .card-featured-upper__menu-container:active,
    .card-featured-upper__menu-container:focus {

        .card-featured-upper__menu {
            visibility: visible;
        }

    }
    .card-featured-upper__menu-container .card-featured-upper__menu {
        visibility: hidden;
        bottom: 100%;
    }
    
    .card-featured-upper__menu-container button:focus + .card-featured-upper__menu {
        visibility: visible;
    }
}