.card-with-buttons {

    .buttons-list {
        right: 0px;
        bottom: 10px;
        position: absolute;
    }

    .card {
        color: white;
        border: 0px;
    }
    .card:focus {
        border: 1px solid;
    }
    .card:hover {
        border: 1px solid;
    }

    .card-featured-upper__menu-button + .card-featured-upper__menu {
        visibility: hidden;
    }
    .card-featured-upper__menu-button:hover + .card-featured-upper__menu,
    .card-featured-upper__menu-button + .card-featured-upper__menu:hover,
    .card-featured-upper__menu-button:hover + .card-featured-upper__menu:hover,
    .card-featured-upper__menu-button:focus + .card-featured-upper__menu,
    .card-featured-upper__menu-button + .card-featured-upper__menu:focus,
    .card-featured-upper__menu-button:focus + .card-featured-upper__menu:focus {
        visibility: visible;
    }
}