.modal-page {

    top: 0rem;
    position: fixed;
    z-index: 3000;

    .modal-page__background {
        background-color: rgba(255,255,255, 0.5);
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        position: fixed;

    }

    .modal-page__modal {
        top: 50vh;
        left: 50vw;

        .modal-page__modal-content {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 100vw;
            transform: translate(-50%, -50%);
        }
    }

}