.modal-page {

    .modal-page__background {
        background-color: rgba(255,255,255, 0.5);
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        position: fixed;
        z-index: 2;
    }

    .modal-page__modal {
        position: fixed;
        z-index: 3;
        top: 50vh;
        left: 50vw;

        .modal-page__modal-content {
            position: relative;
            height: 100%;
            width: 100vw;
            transform: translate(-50%, -50%);
        }
    }

}