.modal-page {

    top: 0rem;
    position: fixed;
    z-index: 3000;
    
    .close-btn {
        z-index: 3003;
        right: 0px;
        position: absolute;
        .material-symbols-outlined {
            font-size: 3rem;
        }
    }

    .modal-page__background {
        background-color: rgba(255,255,255, 0.5);
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        position: fixed;

    }

    .modal-page__modal {
        top: 50vh;
        left: 50vw;

        .modal-page__modal-content {
            position: fixed;
            height: 100%;
            width: 100%;
            overflow: scroll;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

}