.showroom {
    .card:nth-child(-n+3) {
        transform: rotateY(65deg);
    }

    .card:hover {
        animation: mykeyframes 1s linear;
    }

    .card {
        /* see https://developer.mozilla.org/en-US/docs/Web/CSS/animation */
        /* @keyframes duration | easing-function | delay | name */
     //   animation: mykeyframes 10s ease-in 1s;
    }

    @keyframes mykeyframes {
        100% {transform: rotateY(0deg);}
    }

}