.story-report {
    .card {
        color: white;
        border: 0px;
    }
    
    .timeline {
        max-height: 80vh;
        overflow-y: auto;
        .timeline-title {
            border: 1px solid var(--gray);
            border-radius: 5px;
            padding: 10px;
        }
    }

    .clip-card {
        border: 1px solid var(--gray);
        border-left: 5px solid var(--gray);

        .clip-resource {
            border-left: 0px solid var(--gray);
        }

        .clip-header {
            position: relative;
            margin-left: 50%;

            .clip-connector {
                position: absolute;
                border: 5px solid var(--gray);
                height: 50px;
                margin-top: -55px;
                margin-left: 7px;
            }

            .clip-circle {
                position: absolute;
                border-radius: 50%;
                border: 20px solid var(--gray);
                background-color: var(--gray);
                margin-left: -20px;
                margin-top: -35px;
            }
        }

        .card-header {
            display: none;
        }
        
    }
    .clip-card:hover {
        .card-header {
            display: block;
        }
    }


    .clip-card.selected {
        border: 1px solid white;
        border-left: 5px solid white;
    }
    .clip-card:hover {
        border: 1px solid white;
        border-left: 5px solid white;
    }
    
    .card:hover {
        border-left: 1px solid var(--gray);
    }

    .continer_body {
        height: 100%;
    }


    #preview-img {
        width: 100%;
        height: 100%;
    }
}