.search-and-select-list-light .search-and-select-list {

    color: black;
    word-break: break-all;

    &.card {
        border: 1px solid #3636;
        box-shadow: 0px 1px 1px black;
        background-color: #dfdede !important;
    }

    .card-with-icon {
        .material-symbols-outlined {
            padding: 1rem !important;
        }
    }

    .search-bar__subquery {
        background-color: transparent;
        border-radius: 2px;
        color: black;
        border: 0px;
        border-bottom: 0.25rem solid black;
        // border: 0rem;
        margin: 5px;
        font-size: 2rem;
    }

    .page-btn-group {
        float: right;
        padding-top: 1rem;
        width: fit-content;
        .page-btn {
            color: black;
            background-color: transparent;
        }
        .page-btn button:disabled {
            color: gray;
        }

        .page-btn:hover {
            color: black;
            background-color: transparent;
        }
        .page-btn--back span {
            left: 0.3rem;
            position: relative;
        }
    }


    .cursor-pointer {
        cursor: pointer;
    }

    .card {
        color: white;
        border: 1px solid #3636;
        .card-title {
            font-size: 2rem;
            margin: 0.5rem;
        }
    }

    .search-bar__filter {
        left: 0.5rem;
        top: 1rem;    
    }
    .selected-items {
        .select-item-overlay {
            color: black;
        }
        .card {
            color: black;
            border: 1px solid rgba(0, 0, 0, 0.4);
            background-color: rgba(0, 0, 0, 0.3) !important;
        }
    }


    // .card-body {
    //     display: none;
    // }

    // :hover {
    //     .card-body {
    //         display: block;
    //     }
    // }

    .search-bar__filter-spinner {
        color: black !important;
    }

    .select-item-overlay {
        color: white;
        font-size: 2rem;
        position: relative;
        left: 0.5rem;
        top: 2rem;
    }
}